/* Body styles */
body {
    font-family: 'Assistant', sans-serif;
    background-image: url(Background.png) ;
    color: #fff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    background-color: #333;
    z-index: 1000;
    transition: width 0.3s ease;
}

header.expanded {
    width: 200px;
}

.menu-icon {
    display: block;
    width: 30px;
    height: 30px;
    margin: 15px auto;
    cursor: pointer;
    transition: width 1s height 1s ease;
}
.menu-icon:hover {
    width: 31px;
    height: 31px;
}
.menu-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
}

nav ul {
    display: none;
    flex-direction: column;
    padding-top: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.show {
    display: flex;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav ul li a:hover {
    background-color: #444;
}

/* Main container styles */
main {
    margin-left: 60px;
    width: calc(100% - 60px);
    padding: 20px;
    box-sizing: border-box;
}

/* DJ mixing zone styles */
#mixing-area {
    max-width: 800px;
    max-height: 550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    padding: 20px;
    background: linear-gradient(45deg, #1a1a1a, #2c2c2c);
    border: 2px solid #444;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Turntable styles */
.turntable {
    width: 100%;
    height: 150px;
    background: radial-gradient(circle, #333, #222);
    border: 5px solid #444;
    border-radius: 10px;
    position: relative;
    margin: 10px 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.turntable::before,
.turntable::after {
    content: '';
    width: 100px;
    height: 100px;
    background-image: url(Asset\ 6.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    transition: transform 1s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    
}

.turntable:hover::after {
    transform: skew(-0.06turn, 18deg);
}
.turntable:hover::before {
    transform: skew(0turn, 10deg);
}

.turntable .knob {
    width: 50px;
    height: 50px;
    background: #666;
    border-radius: 50%;
    background-image: url(Asset\ 7.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 1s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.turntable:hover .knob {
    transform: skew(-0.06turn, 18deg);
}

/* Genre list styles */
#genres {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}

.genre {
    font-size: 0.9em;
    padding: 8px 16px;
    margin: 5px;
    background: linear-gradient(45deg, #ff4081, #3f51b5);
    border-radius: 5px;
    cursor: move;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.genre:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.2);
}

#drop-zone {
    min-height: 100px;
    width: 80%;
    padding: 10px;
    background: linear-gradient(45deg, #ff4081, #3f51b5);
    border: 2px  #666;
    border-radius: 10px;
    margin: 20px 0;
    position: relative;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#drop-zone .placeholder-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #999;
}

#drop-zone.dragover {
    border-color: #4CAF50;
}

#drop-zone.used .placeholder-text {
    opacity: 0;
}

/* Result display styles */
#result {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    padding: 10px;
    background: rgba(0,0,0,0.3);
    border-radius: 10px;
    font-weight: bold;
    width: 100%;
}

/* Reset button styles */
#reset-button {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    background: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#reset-button:hover {
    background: linear-gradient(45deg, #80334d, #3f51b5);
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #3f51b5;
}

::-webkit-scrollbar-thumb {
    background-color: #ff4081;
    transition: background-color 10s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #80334d;
}

/* Responsive design */
@media (max-width: 768px) {
    header {
        width: 100%;
        height: auto;
    }

    .menu-icon {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }

    main {
        margin-left: 0;
        width: 100%;
        padding-top: 60px;
    }
}
.center {
    display: block;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: -100px;
    width: 10%;
    transition: width 2s, height 2s;
  }
  .center:hover {
    width: 11%;
    height: 11%
  }
  footer {
    background-color: #ff4081;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 697px;
    position: absolute;
    padding: 10px 0; /* Optional: Adjust the padding to your preference */
}

#footer-text {
    margin: 0;
    text-align: center;
}

.gallery-container {
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    max-height: 300px;
}

.gallery-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.gallery-slide {
    min-width: 100%;
    max-width: 300px;
    max-height:500px;
    flex: 0 0 auto;
    transition: 0.5s;
    padding: 20px;
    box-sizing: border-box;
}

.genre-info {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.gallery-prev,
.gallery-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 64, 129, 0.7);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s ease;
}

.gallery-prev:hover,
.gallery-next:hover {
    background: rgba(255, 64, 129, 1);
}

.gallery-prev {
    left: 10px;
}

.gallery-next {
    right: 10px;
}
.artist-info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 15px;
    align-items: start;
    padding: 15px;
}

.artist-info img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    max-width: 300px;
    max-height: 220px; /* הגבלת גובה */
    object-fit: cover; /* שומר על יחס התמונה */
    border-radius: 10px;
}

.artist-details {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 10px;
    max-height: 200px; /* הגבלת גובה */
    max-width: 300px;
    overflow-y: auto; /* אפשרות לגלילה אם יש יותר מדי טקסט */
}

.artist-details h2 {
    margin: 0;
    color: #ff4081;
    font-size: 1.4em;
    margin-bottom: 10px;
    
}

.artist-details p {
    font-size: 0.95em;
    line-height: 1.4;
    
}

.music-player {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 300px;
    
}

@media (max-width: 600px) {
    .artist-info {
        grid-template-columns: 1fr;
    }
    
    .artist-info img {
        grid-column: 1;
        grid-row: 1;
        max-width: 100%;
    }
    
    .artist-details {
        grid-column: 1;
        grid-row: 2;
    }
    
    .music-player {
        grid-column: 1;
        grid-row: 3;
    }
}
#search-bar {
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    background-color: #3f51b5;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: 0.5s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#search-bar::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#search-bar:focus {
    background-color:#203193;
}
#clear-search {
    padding: 10px;
    margin-left: 10px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#clear-search:hover {
    background-color: #80334d;
}
#instructions {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}
